---
name: Build

on:
  push:
  workflow_dispatch:

jobs:

  release_dry_run:
    name: Release (dry-run)
    runs-on: ubuntu-latest
    outputs:
      new_release_version: ${{ steps.semantic_dry_run.outputs.new_release_version }}
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Release
        uses: cycjimmy/semantic-release-action@v3
        id: semantic_dry_run
        with:
          dry_run: true
          semantic_version: 19.0.5
          extra_plugins: |
            @semantic-release/changelog@6.0.1
            @semantic-release/git@10.0.1
            conventional-changelog-conventionalcommits@5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}

      - name: Print next release
        run: |
          echo "new_release_version=${{ steps.semantic_dry_run.outputs.new_release_version }}" >> $GITHUB_OUTPUT

      - name: Set current date as env variable
        run: |
          echo "date=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_OUTPUT

  go:
    name: Go
    runs-on: ubuntu-latest
    needs:
      - release_dry_run
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.19'

      - name: Build OhMyFlux
        run: |
          OMF_VERSION=${{ needs.release_dry_run.outputs.new_release_version }}
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags="-X 'github.com/victorsalaun/ohmyflux/internal/build.Version=${{ needs.release_dry_run.outputs.new_release_version }}' -X 'github.com/victorsalaun/ohmyflux/internal/build.Date=${{ needs.release_dry_run.outputs.date }}'" -o ohmyflux ./cmd/ohmyflux

      - name: Archive OhMyFlux
        run: tar czf ohmyflux_linux_amd64.tar.gz ohmyflux

      - name: Upload OhMyFlux
        uses: actions/upload-artifact@v3
        with:
          name: archive_linux_amd64
          path: ohmyflux_linux_amd64.tar.gz

      - name: Build OhMyFlux
        run: |
          OMF_VERSION=${{ needs.release_dry_run.outputs.new_release_version }}
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -ldflags="-X 'github.com/victorsalaun/ohmyflux/internal/build.Version=${{ needs.release_dry_run.outputs.new_release_version }}' -X 'github.com/victorsalaun/ohmyflux/internal/build.Date=${{ needs.release_dry_run.outputs.date }}'" -o ohmyflux ./cmd/ohmyflux

      - name: Archive OhMyFlux
        run: tar czf ohmyflux_linux_arm64.tar.gz ohmyflux

      - name: Upload OhMyFlux
        uses: actions/upload-artifact@v3
        with:
          name: archive_linux_arm64
          path: ohmyflux_linux_arm64.tar.gz

      - name: Build OhMyFlux
        run: |
          CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -ldflags="-X 'github.com/victorsalaun/ohmyflux/internal/build.Version=${{ needs.release_dry_run.outputs.new_release_version }}' -X 'github.com/victorsalaun/ohmyflux/internal/build.Date=${{ needs.release_dry_run.outputs.date }}'" -o ohmyflux ./cmd/ohmyflux 

      - name: Archive OhMyFlux
        run: tar czf ohmyflux_macOs_amd64.tar.gz ohmyflux

      - name: Upload OhMyFlux
        uses: actions/upload-artifact@v3
        with:
          name: archive_macOs_amd64
          path: ohmyflux_macOs_amd64.tar.gz

      - name: Build OhMyFlux
        run: |
          OMF_VERSION=${{ needs.release_dry_run.outputs.new_release_version }}
          CGO_ENABLED=0 GOOS=darwin GOARCH=arm64 go build -ldflags="-X 'github.com/victorsalaun/ohmyflux/internal/build.Version=${{ needs.release_dry_run.outputs.new_release_version }}' -X 'github.com/victorsalaun/ohmyflux/internal/build.Date=${{ needs.release_dry_run.outputs.date }}'" -o ohmyflux ./cmd/ohmyflux

      - name: Archive OhMyFlux
        run: tar czf ohmyflux_macOs_arm64.tar.gz ohmyflux

      - name: Upload OhMyFlux
        uses: actions/upload-artifact@v3
        with:
          name: archive_macOs_arm64
          path: ohmyflux_macOs_arm64.tar.gz

  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - go
    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Download OhMyFlux
        uses: actions/download-artifact@v3
        with:
          name: archive_linux_amd64

      - name: Download OhMyFlux
        uses: actions/download-artifact@v3
        with:
          name: archive_linux_arm64

      - name: Download OhMyFlux
        uses: actions/download-artifact@v3
        with:
          name: archive_macOs_amd64

      - name: Download OhMyFlux
        uses: actions/download-artifact@v3
        with:
          name: archive_macOs_arm64

      - name: Release
        uses: cycjimmy/semantic-release-action@v3
        with:
          semantic_version: 19.0.5
          extra_plugins: |
            @semantic-release/changelog@6.0.1
            @semantic-release/git@10.0.1
            conventional-changelog-conventionalcommits@5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
